<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Mi Familia
    <ul>
        <li>mi papa se llama {{papa.nombre}} y tiene {{papa.edad}} años</li>
        <li>mi mama se llama {{mama.nombre}} y tiene {{mama.edad}} años</li>
        <li>mi hermana se llama {{hermana.nombre}} y tiene {{hermana.edad}} años</li>
    </ul>
</body>
</html>